body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
}

.header {
    display: block;
    height: 250px;
    color: black;
}


/* TOP HEADER */

.top-header {
    color: white;
    float: none;
    display: flex;
    height: 16%;
    top: 0;
    line-height: 200%;
    background-image: url('../IMAGE/image_header.jpg');
}

.left-top-header {
    height: 100%;
    text-align: left;
}

.left-top-header span {
    margin-left: 10%;
}


/* .center-top-header{
    background-color: azure;
} */

.right-top-header span {
    float: right;
}

.icon-top-header {
    font-size: 24px;
    margin-right: 5%;
}


/*MAIN HEADER  */

.main-header {
    height: 64%;
    display: flex;
}

.right-main-header {
    font-size: 20px;
    line-height: initial;
}

.customer-cart {
    top: 0;
    font-size: 48px;
    color: red
}

.quantity-customer-cart {
    margin-top: 10%;
    margin-left: 9%;
}

.menu-header {
    height: 20%;
    background-color: slategray;
    color: white;
}