body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.header{
    display: block;
    height: 250px;
    width: 100%;
    top: 0;
    background-color: darkcyan;
    color:white;
}
/* TOP HEADER */
.top-header{
    float: none;
    display: flex;
    height:16%;
    width: 100%;
    top: 0;
    font-size: 20px;
    line-height: 220%;
}
.left-top-header{
    height: 100%; 
   text-align: left;
}
.left-top-header span{
    margin-left: 10%;
}
/* .center-top-header{
    background-color: azure;
} */
.right-top-header span{
    float: right;
    margin-right: 5%;
}
.icon-top-header{
    font-size: 24px;
}
/*MAIN HEADER  */
.main-header{
    height: 64%;
    width: 100%;
    display: flex;
}
.image-logo{
    margin-left: 25%;
    width: 50%;
    height: 90%;
    margin-top: 8px;
}
.right-main-header{
font-size: 20px;
}
.customer-cart{
   top:0;
   font-size:48px;
   color:red
}
.quantity-customer-cart{
    margin-top: 10%;
    margin-left: 9%;
}
.menu-header{
    height: 20%;
    background-color: slategray;
    color: white;
    width: 100%;
}